/* hero background image */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap');
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Open Sans', sans-serif;
}

#skills, #about, #projects, #contact{
    color: #000000;
}
#skills{
    background: #f2f2f2;
    padding: 100px 0px;
}

#projects{
    flex-wrap: wrap;
    padding: 20px 20px;
}

#about img{
    border-radius: 20px;
}

#contact{
    display: flex;
    align-items: center;
    justify-content: center;
}

.bgimage {
 height:100vh;
 background: url('images/jonatan-pie-h8nxGssjQXs-unsplash.jpg');
 background-size: cover;
 overflow: visible;

 position:relative;
}
.navbar-brand img{
    width: 60px;
    height: 60px;
    margin: 0;
}
/* text css above hero image*/
.hero_title {
 font-size: 4.5rem;
}

   
nav .navbar-nav  li a{
    color: white !important;
    font-size: large;
    font-weight: 500; 
    
 }
 .navbar-brand{
    color: white !important;
 }

.navbar-toggler-icon{
    width: 35px;
    height: 5px;
   color: white; 
    margin: 6px 0;
}
.hero_desc {
 font-size: 2rem;
}
i{
    font-size: 36px;
    cursor: pointer;
}
.hero-text {
 text-align: center;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 color: white;
}
/* about section image css */
.imageAboutPage {
 width: 100%;
}
/* skills section css */

.servicesText.card {
 height: 280px;
 cursor: pointer;
 color: #000000;
 border-radius: 15%;
 box-shadow: 8px 8px 6px 2px rgba(0, 0, 0, 0.2);

}

.servicesIcon , .fa{
 font-size: 36px;
 text-align: center;
 width: 100%;
 color: #000000;
}
.projectsDiv{
    height: 266.8px;
    padding: 30px 0px;
}

.card img{
    flex: 1 1 auto;
    padding: 1rem 1rem;
    height: 450px;
}

.pBody{
    vertical-align: middle;
    height: 260px;
}

@media  (max-width:1200px){ 
    .pBody{
        vertical-align: middle;
        height: 280px;
    }
}
@media  (max-width:1000px){ 
    .pBody{
        vertical-align: middle;
        height: 460px;
    }
}
.col{
    padding: 20px 20px;
    box-shadow: 4px 4px 3px 2px rgba(0, 0, 0, 0.2);
}

.card-title {
 text-align: center;
}
.card:hover .servicesIcon {
 color: #3c3742;
}
.servicesText:hover {
 border: 2px solid #3c3742;
}
/* display background image on navbar scroll */
.navbarScroll.navbarDark {
    background: url('images/jonatan-pie-h8nxGssjQXs-unsplash.jpg');
 

}
.contactContent{
    border-radius: 588px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 50%;
}
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  input[type=submit] {
    background-color: #000000;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type=submit]:hover {
    background-color: #45a049;
  }


/* social media icons styling */
.social-icons {
 font-size: 36px;
 cursor: pointer;
 padding: 0px 100px;
}
.fa-github:hover,.fa-linkedin:hover, .fa-file:hover {
 color: #ffffff;
 
}

/* footer styling */
#footer {
    background: url('images/jonatan-pie-h8nxGssjQXs-unsplash.jpg');
 text-align: center;
}
#footer img{
    width: 50px;
    height: 50px;
}
.fa-linkedin, .fa-file, .fa-github, .fa-file-user{
    color: rgb(179, 174, 174);
}
/* spacing on all sections */
#about, #skills, #projects, #contact {
 margin-top: 4rem;
 padding-top: 4rem;
}
#contact {
 padding-bottom: 4rem;
}